
header{
    border-bottom: 0.7px solid #eee;
    padding-bottom: 0.6em;
    margin-bottom: 0.6em;
}

.buttons{
    margin-top: auto;
}

.card-deck{
    justify-content: space-evenly;
}

.card{     
    flex: 1 0;
} 

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 576px) { 
    .card{     
        flex: 1 30vw;
    } 
}

/* Large devices (tablets, 768px and up)*/
@media (min-width: 992px) { 
    .card{     
        flex: 0 25vw;
    } 
}