<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Movie</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="text-left" name="myForm" #movieForm="ngForm" novalidate>
    <fieldset>
      <legend class="text-center text-muted"><small>Basic</small></legend>
      <div class="form-group">
        <label for="title">Title</label>
        
        <input type="text" class="form-control" (input)="validateTitle()" required="true" id="title" #title="ngModel" placeholder="title" name="title" [(ngModel)]="movie.Title">
        <div *ngIf="title.invalid && (title.dirty || movieForm.submited )" class="alert alert-danger">
          <div *ngIf="title.errors.required">
            Title is required.
          </div>
        </div>
        <div *ngIf="isTitleExists" class="alert alert-danger">
          Title Exists
        </div>
      </div>

      <div class="form-group">
        <label for="director">Director</label>
        <input type="text" class="form-control" required="true" id="director" #director="ngModel" placeholder="Director" name="Director" [(ngModel)]="movie.Director">
        <div *ngIf="director.invalid && (director.dirty || movieForm.submited )" class="alert alert-danger">
          <div *ngIf="director.errors.required">
            Title is required.
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend class="text-center text-muted"><small>Additional</small></legend>
      <div class="form-group">
        <label for="genre">Genre</label>
        <input type="text" class="form-control" required="true" #genre="ngModel" id="genre" placeholder="Genre" name="Genre"
          [(ngModel)]="movie.Genre">
        <div *ngIf="genre.invalid && (genre.dirty || movieForm.submited )" class="alert alert-danger">
          <div *ngIf="genre.errors.required">
            Title is required.
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="year">Year</label>
        <input type="number" class="form-control" required="true" pattern="^[1-2][0-9]{3}$" #year="ngModel" id="year" placeholder="Year" name="Year" [(ngModel)]="movie.Year">
        <div *ngIf="year.invalid && (year.dirty || movieForm.submited )" class="alert alert-danger">
          <div *ngIf="year.errors.required">
            Title is required.
          </div>
          <div *ngIf="year.errors.pattern">
            Invalid Year
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="runtime">Runtime</label>
        <input type="text" class="form-control" required="true" #runtime="ngModel" id="runtime" placeholder="Runtime" name="Runtime" [(ngModel)]="movie.Runtime">
        
        <div *ngIf="runtime.invalid && (runtime.dirty || movieForm.submited )" class="alert alert-danger">
          <div *ngIf="runtime.errors.required">
            Title is required.
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="saveMovie()">Save</button>
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
</div>
