
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Delete Movie</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Do you realy want to delete the movie "{{movie.Title}}" ?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
  <button type="button" class="btn btn-outline-dark" (click)="deleteMovie()">Ok</button>
</div>
